.u-clear
  clear both
.u-table
  display table
  width 100%
.u-table-cell
  display table-cell !important
.u-v-top
  vertical-align top
.u-v-middle
  vertical-align middle !important
.u-v-bottom
  vertical-align bottom !important
  
.u-clearfix:after
  content "."
  display block
  clear both
  height 0
  visibility hidden
.u-clearfix
  min-height 1px
  zoom 1
* html .u-clearfix 
  height 1px
  /*¥*//*/
  height: auto;
  overflow: hidden;
  /**/
.u-fl-r
  float right !important
.u-fl-l
  float left !important
  
m = 10px
g = 15px
gx = 20px
gxx = 40px

.u-mbm
  margin-bottom m !important
.u-mbg
  margin-bottom g !important
.u-mbgx
  margin-bottom gx !important
.u-mbgxx
  margin-bottom gxx !important

.u-pm
  padding m
.u-pg
  padding g
.u-pgx
  padding gx